.photo_title {
    flex:1;
    background-color: #838383;
    color:#FFFFFF;
    width:600px;
    height:30px;
    text-align: center;
    line-height: 2;
}
.photo_box {
    flex:1;
    display:flex;
    flex-direction: column;
}
.photo_box_img {
    width:100%;
    height:100%;
    margin:10px 0;
}
.board_box {
    overflow:auto;
}